build_system/questa/*
!build_system/questa/questa_script.tcl
!build_system/questa/makefile

build_system/quartus/*
!build_system/quartus/setup_sh.tcl
!build_system/quartus/makefile
!build_system/quartus/custom_assignments.tcl

build_system/cctb/*
!build_system/cctb/cctb_script.tcl
!build_system/cctb/makefile
!build_system/cctb/questa_after_vsim.do
!build_system/cctb/requirements.txt
!build_system/cctb/user_requirements.txt

rtl/boards/*
!rtl/boards/*.sv
!rtl/boards/DE10-Standard/

rtl/boards/DE10-Standard/*
!rtl/boards/DE10-Standard/*.sv
!rtl/boards/DE10-Standard/*.tcl

*.bak
transcript

.cache
.venv
.pytest_cache
qrun.log
modelsim.ini

release/*/package
release/*/*.qar

__pycache__
