name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  VSIM: "docker run axi-noc-with-built-in-pmus-altera_tools:latest vsim"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup tools
      run: docker compose up

    - name: Add .utils to PATH
      shell: bash
      run: echo "$GITHUB_WORKSPACE/.utils" >> "$GITHUB_PATH"

    - name: Ensure wrappers are executable
      run: chmod +x .utils/vsim

    - name: Configure Makefile
      run: chmod +x configure; ./configure --prefix=QUESTA

    - name: Install dependencies
      run: make
