name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  ALTERA_TOOLS_CALL: "docker run --mount type=bind,src=$PWD,dst=$PWD axi-noc-with-built-in-pmus-altera_tools:latest"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup tools
      run: docker compose up

    - name: Run configure
      shell: bash
      run: docker run --mount type=bind,src=$PWD,dst=$PWD axi-noc-with-built-in-pmus-altera_tools:latest "chmod +x $PWD/configure; $PWD/configure --prefix=QUESTA;"
      
    - name: Run make
      shell: bash
      run: docker run --mount type=bind,src=$PWD,dst=$PWD axi-noc-with-built-in-pmus-altera_tools:latest "cd $PWD; make;"
