name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  WORKDIR: /mnt/work
  ALTERA_TOOLS_CALL: "docker run --mount type=bind,src=$PWD,dst=/mnt/work --mac-address=4e:dc:e2:0a:bc:fb docker.pkg.github.com/apoj-inc/AXI-NoC-with-built-in-PMUs/altera_tools:latest"

jobs:
  compile_and_test_tools:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup tools
      shell: bash
      run: |
        docker build .docker/altera_tools -t "docker.pkg.github.com/apoj-inc/AXI-NoC-with-built-in-PMUs/altera_tools:latest"
        docker login docker.pkg.github.com -u $GITHUB_ACTOR -p ${{secrets.GITHUB_TOKEN}}
        docker push "docker.pkg.github.com/apoj-inc/AXI-NoC-with-built-in-PMUs/github-actions"

    - name: Run configure
      shell: bash
      run: |
        chmod +x configure
        ${{env.ALTERA_TOOLS_CALL}} "${{env.WORKDIR}}/configure --prefix=QUESTA"
      
    - name: Test pure cctb
      shell: bash
      run: ${{env.ALTERA_TOOLS_CALL}} "cd ${{env.WORKDIR}} && make"
      
    - name: Test pytest
      shell: bash
      run: ${{env.ALTERA_TOOLS_CALL}} "cd ${{env.WORKDIR}} && make run_pytest"
