name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  ALTERA_TOOLS_CALL: "docker run --mount type=bind,src=$PWD,dst=$PWD axi-noc-with-built-in-pmus-altera_tools:latest"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup tools
      run: docker compose up

    - name: Add .utils to PATH
      shell: bash
      run: echo "$GITHUB_WORKSPACE/.utils" >> "$GITHUB_PATH"

    - name: Create aliasses
      shell: bash
      run: |
        alias qrun="${{env.ALTERA_TOOLS_CALL}} qrun"
        alias vlib="${{env.ALTERA_TOOLS_CALL}} vlib"
        alias vmap="${{env.ALTERA_TOOLS_CALL}} vmap"
        alias vsim="${{env.ALTERA_TOOLS_CALL}} vsim"
        alias vis="${{env.ALTERA_TOOLS_CALL}} vis"

    - name: Configure makefile
      run: chmod +x configure; ./configure --prefix=QUESTA

    - name: Install dependencies
      run: make
