name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  ALTERA_TOOLS_ARGS: "--mount type=bind,src=$PWD,dst=/mnt/work --mac-address=${{ secrets.LM_LICENSE_MAC }} --workdir=/mnt/work"

jobs:
  check_changes:
    runs-on: ubuntu-latest
    outputs:
      altera_tools_docker_changed: ${{ steps.filter.outputs.altera_tools_docker_changed }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            altera_tools_docker_changed:
              - 'requirements.txt'
              - '.docker/altera_tools/*'
              - 'compose.yaml'
  
  build_altera_tools_docker_and_run_tests:
    runs-on: ubuntu-latest
    needs: check_changes
    if: needs.check_changes.outputs.altera_tools_docker_changed == 'true'
    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image for tests
      run: |
        docker compose up
        docker tag altera_tools:latest altera_tools-dev:latest

    - name: Run docker image tests
      run: |
        chmod +x configure
        docker run ${{env.ALTERA_TOOLS_ARGS}} altera_tools-dev:latest "./configure --prefix=QUESTA"
        docker run ${{env.ALTERA_TOOLS_ARGS}} altera_tools-dev:latest "make test"
        docker run ${{env.ALTERA_TOOLS_ARGS}} altera_tools-dev:latest "make run_pytest TESTS_DIRS=tb/tb_example"
      env:
        CI: true
        NODE_ENV: test
      timeout-minutes: 15

    - name: Extract SHA
      id: meta
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push production image
      run: |
        docker tag altera_tools-dev:latest ${{ secrets.DOCKER_USERNAME }}/altera_tools:latest
        docker tag altera_tools-dev:latest ${{ secrets.DOCKER_USERNAME }}/altera_tools:${{ steps.meta.outputs.SHORT_SHA }}
        docker push -a ${{ secrets.DOCKER_USERNAME }}/altera_tools
    
    - name: Run branch tests
      shell: bash
      run: docker run altera_tools:latest ${{ secrets.DOCKER_USERNAME }}/${{env.ALTERA_TOOLS_ARGS}} "make run_pytest"
      timeout-minutes: 60
    
  run_tests_without_build:
    runs-on: ubuntu-latest
    needs: 
      - check_changes
    if: needs.check_changes.outputs.altera_tools_docker_changed == 'false'
    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Run pytest
      shell: bash
      run: docker run ${{env.ALTERA_TOOLS_ARGS}} ${{ secrets.DOCKER_USERNAME }}/altera_tools "make run_pytest"
      timeout-minutes: 60
