name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  ALTERA_TOOLS_CALL: "docker run --mount type=bind,src=$PWD,dst=$PWD altera_tools:latest"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup tools
      run: docker compose up

    - name: Run configure
      shell: bash
      run: |
        chmod +x configure
        ${{env.ALTERA_TOOLS_CALL}} "$PWD/configure --prefix=QUESTA"
      
    - name: Run make
      shell: bash
      run: ${{env.ALTERA_TOOLS_CALL}} "cd $PWD; make"
