name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: configure
      run: echo $PWD; ./configure --prefix=QUESTA

    - name: Install dependencies
      run: make
