name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  ALTERA_TOOLS_ARGS: "--mount type=bind,src=$PWD,dst=/mnt/work --mac-address=${{ secrets.LM_LICENSE_MAC }} --workdir=/mnt/work"

jobs:
  build_docker_test_image:
    runs-on: ubuntu-latest
    outputs:
      altera_tools_docker_changed: ${{ steps.filter.outputs.altera_tools_docker_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build test image
        uses: docker/build-push-action@v6
        with:
          context: .docker/altera_tools
          target: test
          tags: altera_tools-dev:latest
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
        
      - name: Run docker image tests
        run: |
          docker build altera_tools-dev
          chmod +x configure
          docker run ${{env.ALTERA_TOOLS_ARGS}} altera_tools-dev:latest "./configure --prefix=QUESTA"
          docker run ${{env.ALTERA_TOOLS_ARGS}} altera_tools-dev:latest "make test"
          docker run ${{env.ALTERA_TOOLS_ARGS}} altera_tools-dev:latest "make run_pytest TESTS_DIRS=tb/tb_example"
        env:
          CI: true
          NODE_ENV: test
        timeout-minutes: 15
  
  build_altera_tools_and_push:
    runs-on: ubuntu-latest
    needs: build_docker_test_image
    steps:
    - uses: actions/checkout@v4

    - name: Extract SHA
      id: meta
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Build and push amd64-arch production image
      uses: docker/build-push-action@v6
      with:
        context: .docker/altera_tools
        target: production
        push: true
        platforms: linux/amd64
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/altera_tools:latest
          ${{ secrets.DOCKER_USERNAME }}/altera_tools:${{ steps.meta.outputs.SHORT_SHA }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
    
  run_tests:
    runs-on: ubuntu-latest
    needs: build_docker_test_image
    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Run pytest
      shell: bash
      run: docker run ${{env.ALTERA_TOOLS_ARGS}} ${{ secrets.DOCKER_USERNAME }}/altera_tools "make run_pytest"
      timeout-minutes: 60
